# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [12]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Brian', '(342) 324-3245')
    #('Brian', '', '', '(342) 324-3245')
]

def phone_number(first_name):
    for item in address_book:
        if item[0] == first_name:
            return item[-1]
    return -1 
    
print (phone_number ("Hank"))
print (phone_number ("Diana"))
print (phone_number ("Tevin"))
print (phone_number ("Brian"))
print (phone_number ("Peter"))
print (phone_number ("Sydney"))

# input - tuples in address_book
# output - return phone number for a name
# constraint - if name not there, return  -1
# start from beginning, look at each tuple for first name [0]; if name matches at index [0] print phone #; if name is not return -1
# define function

(555) 555-1234
-1
(333) 333-3245
(342) 324-3245
(555) 555-4321
(222) 222-6789

In [13]:
#Timur's full version:

def phone_number(name="", last_name=""):
    
    if name!="" and last_name!="":
        for i in address_book:
            if name.lower() == i[0].lower() and last_name.lower() == i[1].lower():
                return i[3]
        else:
            return -1
    
    elif name != "":
        for i in address_book:
            if name.lower() == i[0].lower():
                return i[3]
        else:
            return -1
    
    elif last_name != "":
        for i in address_book:
            if last_name.lower() == i[1].lower():
                return i[3]

        else:
            return -1
    else:
        return -1
        
        
print(phone_number(name="Hank"))
print(phone_number(last_name="Fife"))
print(phone_number("Tevin","Downey"))
print(phone_number(name="Jhon"))
print(phone_number(name="hank"))
print(phone_number())

(555) 555-1234
(222) 222-6789
(333) 333-3245
-1
(555) 555-1234
-1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [ ]:
# list is like an apartment building - starts at 0 and goes all the way through
# Dictionaries are like an entire town - placed anywhere & accessed as called up

In [16]:
(1, 2, 3).__hash__()

# double underscore
# the hash value of 1, 2, 3
# hash values are like short-cuts - getting right to the info called up

529344067295497451

In [1]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d_1 = {}
print(d_1)
print(type(d_1))


d_2 = dict()
print(d_2)
print(type(d_2))



d_3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Drive',
    'Tevin': '100 Rodeo Blvd'
}
print(d_3)
print(type(d_3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Drive', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

##### Accessing Values

In [ ]:
# Dictionaries are case sensitive
# Hint: could do always lower case & must remember to search lower case; names: title case

In [2]:
# dict[key]

d_3['Hank']

'123 Real Street'

In [3]:
d_3['Tevin']

'100 Rodeo Blvd'

In [4]:
#d_3['Brian']
# spits out KeyError 'Brian'
# Brian does not exist in the dictionary

KeyError: 'Brian'

##### .get()

In [17]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [5]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d_3.get('Peter'))
print(d_3.get('Brian'))
print(d_3.get('Brian', 'N/A'))

321 Fake Street
None
N/A

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [20]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

#truck.get('year')
#truck.get('make')
#truck.get('model')

print(f"My favorite car is a {truck.get('year')} {truck.get('make')} {truck.get('model')}.")

My favorite car is a 2018 Chevrolet Silverado.

##### Adding New Pairs

In [7]:
# dict[key] = value

d_3['Zooey'] = '151 Main Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main Street'}

In [23]:
d_3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Drive',
    'Tevin': '100 Rodeo Blvd'
}

d_3['Diana'] = '4341 North Logan Street'
d_3['Zooey'] = '151 Main Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Diana': '4341 North Logan Street',
 'Zooey': '151 Main Street'}

##### Modifying Values

In [8]:
# dict[key] = value

d_3['Zooey'] = '321 Fake Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

In [122]:
# cannot use:
#d_3.get('Zooey') = '485 Fake Street'

#d_3

#Input In [58]
    #d_3.get('Zooey') = '485 Fake Street'
    #^
#SyntaxError: cannot assign to function call

In [ ]:
# Modify Key Name

#dictionary[new_key] = dictionary[old_key]
#del dictionary[old_key]

#dictionary[new_key] = dictionary.pop(old_key)

##### Removing Key, Value Pairs

In [9]:
# del dict[key]

del d_3['Tevin']

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Zooey': '321 Fake Street'}

##### Looping a Dictionary

In [10]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)

    
# Correct way to access key and value pairs
for key,value in d_3.items():
    print(key,value)

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Drive
Zooey 321 Fake Street

##### Looping Only Keys

In [11]:
# .keys()
# for i in d_3:
#     print(i)

# Correct way to access keys inside of dictionary
for key in d_3.keys():
    print(key)

Hank
Peter
Sydney
Zooey

In [27]:
# .values()
# can get value from key, not key from value

for val in d_3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Drive
100 Rodeo Blvd
4341 North Logan Street
151 Main Street

##### Looping Only Values

In [12]:
# .values()

for value in d_3.values():
    print(value)

123 Real Street
321 Fake Street
555 Santa Monica Drive
321 Fake Street

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [59]:
#Ibsy's & Brian's method:
people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Andy': 'brown',
    'Ted': 'purple',
}

for name in people.keys():
    print (f"{name} has {people[name]} eyes.")
    
# I'm looking for the value -->
# 1st "name" is searching through keys second name is the value "name" in the dictionary "people"

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Andy has brown eyes.
Ted has purple eyes.

In [57]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Andy': 'brown',
    'Ted': 'purple',
}

# input - dictionary as 'people'
# output - return sentence for each key and value
# constraint - none can be a key
# start from beginning, look at each pair for name [key] and color [value] + print sentence with function for each
# people.key & people.value -?
# remember to use 'f'!

# found use of ".items()" at https://www.codevscolor.com/python-print-key-value-dictionary
# using: for key,value in my_dict.items():

people['Diana'] = 'hazel'
    
for key,value in people.items(): 
    print(f"{key} has {value} eyes.")

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Andy has brown eyes.
Ted has purple eyes.

##### sorted()

In [62]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()

sorted(people)
#sorting the name of the dictionary runs through the keys

print(sorted(people.items()))
print(sorted(people.keys()))
print(sorted(people.values()))

[('Andy', 'brown'), ('Barney', 'blue'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
['Andy', 'Barney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']

##### List with Dictionaries

In [67]:
names = ["Dave","Randy","Greg",{"random_guy":"Robert", "random_girl":"Barbara"}]

# can use print(names) - prints exactly what is in the dictionary with brackets and braces

# [3] is the location of the dictionary in the list:
print(names[3]['random_girl'])

# Get all keys from nested dictionary in a list:

for keys in names[3].keys():
    print(keys)
for values in names[3].values():
    print(values)

Barbara
random_guy
random_girl
Robert
Barbara

In [70]:
# List of dictionaries

movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019},
    {'title': 'Star Wars: A New Hope', 'director': 'George Lucas', 'release_year': 1977}
    
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}, {'title': 'Star Wars: A New Hope', 'director': 'George Lucas', 'release_year': 1977}]

In [72]:
for m in movies:
    print(f"Title: {m['title']} directed by {m['director']} in {m['release_year']}")

Title: Inception directed by Christopher Nolan in 2010
Title: The Social Network directed by David Fincher in 2010
Title: The Departed directed by Martin Scorsese in 2006
Title: Parasite directed by Bong Joon Ho in 2019
Title: Star Wars: A New Hope directed by George Lucas in 1977

##### Dictionaries with Lists

In [77]:
# be careful when using numbers as keys in dictionaries; DO NOT confuse them with indexes!
random_data = {
    'list1': [54,7,11],
    "2":['smith'],
    0: ['a', 'b', 'c']
}

print(random_data)
print([0])

for key in random_data['2']:
    print(key)
    
print(random_data['2'][0])

{'list1': [54, 7, 11], '2': ['smith'], 0: ['a', 'b', 'c']}
[0]
smith
smith

##### Dictionaries with Dictionaries

In [82]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe, type(my_shoppe))
print(my_shoppe['ice_cream'])
print(my_shoppe['ice_cream']['oreo'])
print(my_shoppe['milkshake']['chocolate'])

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}} <class 'dict'>
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}
3.49
3.99

In [86]:
#list out items at shop < $4

for dessert_type in my_shoppe:
    for flavor, price in my_shoppe[dessert_type].items():
        print(flavor,price)

vanilla 2.99
chocolate 2.99
oreo 3.49
vanilla 3.99
chocolate 3.99
oreo 4.49

In [88]:
#How many years did Jimmy work at AlpaInc?

job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}


#Go step by step, level by level: start with job_app[]:

job_app['prog_languages'][0]['proficiency']

8

In [20]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

2

In [123]:
# len(job_app.get('prof_languages')[0].get('proficiency')
    
#SyntaxError: unexpected EOF while parsing

In [89]:
for language in job_app['prog_languages']:
    print(f"Language: {language['name']} Proficiency: {language['proficiency']}")

Language: Python Proficiency: 8
Language: JavaScript Proficiency: 5

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [96]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [95]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.07302284240722656

In [94]:
time.time()

1658431059.294612

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [103]:
# set() or {}
# no order {3, 2, 1} outputs as {1, 2, 3}
nums = {4,1,6,4}

print(nums)

{1, 4, 6}

In [99]:
my_set = set()

print(my_set)
print(type(my_set))

not_a_set = {}
print(not_a_set) 
print(type(not_a_set))

set()
<class 'set'>
{}
<class 'dict'>

In [100]:
string_set = {'abc', 'hello', 'good-bye'}
print(string_set)
print(type (string_set))

{'hello', 'good-bye', 'abc'}
<class 'set'>

##### .add()

In [105]:
# set.add()
nums.add(56)

print(nums)

{56, 1, 4, 6}

##### .remove()

In [25]:
# removes by value
# set.remove()
# nums.remove(56)

nums.remove(56)

print(nums)

{1, 4, 6}

##### .union()

In [107]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [108]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s3 = s1.union(s2)

# OR

s4 = s1 | s2

print(s3)
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [110]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
s5 = s1.intersection(s2)

s6 = s2 & s1

print(s5)
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [111]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters!!

s7 = s1.difference(s2) 

# OR

s8 = s2 - s1
s9 = s1 - s2

print(s1)
print(s2)
print(s7)
print(s8)
print(s9)

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2}
{5, 6}
{1, 2}

##### .clear()

In [112]:
# Empties the whole set
# set.clear()

s8.clear()

print(s8)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [114]:
# frozenset([])
my_frozen_set = frozenset(s1)

print(my_frozen_set)

# Cannot do this:
# my_frozen_set.add(56)
# AttributeError

frozenset({1, 2, 3, 4})

In [115]:
#import time
#generate fake set
big_set = {i for i in range(10000000)}

#generate fake set
big_list = [x for x in range(10000000)]

In [116]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.07367610931396484

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [31]:
from IPython.display import clear_output

In [126]:
# user asked to input name and address
# Who add? Address? 
# Add to variables
# Add to dictionary
# Loop as long as condition true
# print name [key] & address [value]
# define function
# call function


# INPUT for OUTPUT: address_book()

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [32]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

In [120]:
# *args are tuples
def args_test(*args):
    print(args)
args_test({1,2,3}, {4,5,6}, {7,8,9})

({1, 2, 3}, {4, 5, 6}, {8, 9, 7})

In [121]:
cities = ['Denver', 'Des Moines', 'Salt Lake City', 'Chicago', 'New York', 'Arlington']
set (cities)

{'Arlington', 'Chicago', 'Denver', 'Des Moines', 'New York', 'Salt Lake City'}